<div class="row">
  <div class="col-sm-6">
    <h1>Add An Item</h1>
    <form [formGroup]="addItemForm" (ngSubmit)="addItem()">
      <label for="amount">Name</label>
      <input formControlName="name" class="form-control mb-2" type="text" id="name" name="name">
      <label for="amount">Amount</label>
      <input formControlName="amount" class="form-control mb-3" type="number" id="amount" name="amount">
      <button class="btn btn-success" [disabled]="!addItemForm.get('name').valid || !addItemForm.get('amount').valid">Add</button>
    </form>
  </div>
</div>
