<h2 class="h3">Transactions This Month</h2>
<!--     <table *ngIf="transactionGroups.length > 0; else noTransaction" class="table"> -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Name</th>
      <th scope="col">Cost</th>
    </tr>
  </thead>
  <tbody *ngFor="let group of groupsAvailable">
    <tr *ngFor="let transaction of transactionGroups[group]">
      <td>{{group}}</td>
      <td>{{transaction.name}}</td>
      <td>&pound;{{transaction.amount}}</td>
    </tr>
  </tbody>
</table>
<ng-template #noTransaction>
  <p>No transactions so far!</p>
</ng-template>
